<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="d-flex mb-4 justify-content-between" style="align-items: center; ">
          <h5 class="card-title" style="margin: 0;">{{title}}</h5>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th width="1%">№</th>
              <th scope="col">Ismi</th>
              <th scope="col">Emaili</th>
              <th scope="col">Telefon raqami</th>
              <th scope="col">Matn</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each messages}}
            <tr>
              <td>{{increment @index}}</td>
              <td>{{fullname}}</td>
              <td>{{email}}</td>
              <td>{{phone}}</td>
              <td>{{message}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>