<div class="container-md quiz">
    <h2>O'zingizni sinab ko'ring</h2>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <form action="/product?_csrf={{csrf}}" method="post" enctype="multipart/form-data"
        name="test">
          <input type="hidden" value="{{test.length}}" id="length">
          {{#each test}}
          <div class="test" id="{{_id}}">
            <div class="test-title">
              <h3>№{{increment @index}}. {{question}}</h3>
            </div>
              <div class="mb-3">
                {{#each answers}}
                <label>
                  <input type="radio" name="{{../_id}}" value="{{title}}">
                  <span class="design"></span>
                  <span class="text">{{title}}</span>
                </label>
                {{/each}}
              </div>
          </div>
          {{/each}}
        
        </form>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 pos-re">
      <div class="sidebar">
        {{#each test}} 
          <a href="#{{_id}}" class="sidebar-item">
            {{increment @index}}
          </a>
        {{/each}}
      </div>
      <button type="submit" class="btn btn-default" id="submittest">Yakunlash</button>
    </div>
  </div>
</div>
<div class="model-main">
	<div class="model-inner">
		<div class="close-btn" onclick="closeModel()">×</div>
		<div class="model-wrap">
			<div class="pop-up-content-wrap">
				<h3 class="modal-title"></h3>
			</div>
		</div>
	</div>
	<div class="bg-overlay"></div>
</div>
<script>
  let tests = document.forms.test
  let btn = document.getElementById('submittest')
  let title = document.querySelector('.modal-title')
  let length = document.querySelector('#length').value
  btn.addEventListener('click', async () => {
    {{!-- e.preventDefault() --}}
    let formData = new FormData(tests)
    await fetch('/product', {
        method: 'post',
        body: formData,
      }).then(res => res.json())
      .then(data => {
        console.log(data)
        title.innerHTML = `Siz ${length} ta savoldan ${data} ta to'g'ri javob berdingiz`
        openModel()
      })
  })

  function openModel() {
    document.querySelector('.model-main').classList.add('model-open'); 
  } 
  function closeModel() {
    document.querySelector('.model-main').classList.remove('model-open'); 
    location.reload()
  }
</script>