<div class="container-md quiz">
  <div class="row">
    <div class="col-lg-9 col-sm-12">
      <form action="/product?_csrf={{csrf}}" method="post" enctype="multipart/form-data"
        name="test">
          {{#each test}}
          <div class="test" id="{{_id}}">
            <div class="test-title">
              <h3>№{{increment @index}}. {{question}}</h3>
            </div>
              <div class="mb-3">
                {{#each answers}}
                <label>
                  <input type="radio" name="{{../_id}}" value="{{title}}">
                  <span class="design"></span>
                  <span class="text">{{title}}</span>
                </label>
                {{/each}}
              </div>
          </div>
          {{/each}}
        <button type="submit" class="btn btn-primary">Yuborish</button>
        </form>
    </div>
    <div class="col-lg-3 col-sm-12"></div>
  </div>
</div>
<script>
  let tests = document.forms.test
  tests.addEventListener('submit', async (e) => {
    e.preventDefault()
    let formData = new FormData(tests)
    await fetch('/product', {
        method: 'post',
        body: formData,
      }).then(res => res.json())
      .then(data => {
        console.log(data) 
      })
  })
</script>
          {{!-- { !--location.reload() -- } --}}