<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="d-flex mb-4 justify-content-between" style="align-items: center; ">
          <h5 class="card-title" style="margin: 0;">{{title}}</h5>
          <button class="btn btn-primary" onclick="openModal()">
            Lug'at qo'shish
          </button>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th width="1%">№</th>
              <th scope="col">O'zbekcha nomi</th>
              <th scope="col">Koreyscha nomi</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each list}}
            <tr>
              <td>{{increment @index}}</td>
              <td>{{uzbek}}</td>
              <td>{{koreys}}</td>
              <td>
                <button class="btn badge bg-success me-3" onclick="speaker('{{koreys}}')">So'zni eshitish</button>
                <a href="/admin/translate/delete/{{_id}}" class="badge bg-danger">O'chirish</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true"
  role="dialog">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <form action="/admin/translate" method="post" action="">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">
            Lug'at qo'shish
          </h5>
          <button type="button" class="btn-close" onclick="closeModal()"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="_csrf" value="{{csrf}}" />
          <div class="mb-3">
            <label for="titleInput" class="form-label">Koreyscha nomi</label>
            <input type="text" name="koreys" class="form-control" id="titleInput">
          </div>
          <div class="mb-3">
            <label for="titleInput" class="form-label">Tarjimasi</label>
            <input type="text" name="uzbek" class="form-control" id="titleInput">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="closeModal()">Bekor qilish</button>
          <button type="submit" class="btn btn-primary">Saqlash</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="modal-backdrop"></div>

<script>
  function openModal() {
    document.body.classList.add("modal-open");
    document.getElementById('modal-backdrop').classList.add("modal-backdrop", "show");
    document.getElementById('modal').classList.add("show");
    document.getElementById('modal').style.display = "block";
  }
  function closeModal() {
    document.body.classList.remove("modal-open");
    document.getElementById('modal-backdrop').classList.remove("modal-backdrop", "show", "fade");
    document.getElementById('modal').classList.remove("show");
    document.getElementById('modal').style.display = "none";
  }

  function stopSpeaker(){
    window.speechSynthesis.cancel();
  }
  function speaker(value) {
    const select = 'ko-KR'
    const text = value;
    speak(text, select);
    function speak(text, language) {
      window.speechSynthesis.cancel(); 
      const speechMsg = new SpeechSynthesisUtterance();
      speechMsg.lang = language; 
      speechMsg.text = text; 
      window.speechSynthesis.speak(speechMsg); 
    };
  }

  let test = "한국어는 한국인의 언어입니다. 그것은 알타이 언어에 속하며 때로는 Tongusmanjur 언어에 속한다고 믿어집니다. 조선민주주의인민공화국과 대한민국의 공용어. 이 언어로 6천만. 하나는 말한다(1992). 다른 언어와 유전적으로 관련이 있는지 여부는 알려져 있지 않습니다. 한국어 동북, 북서, 중앙, 남동, 심. 그리고 얀. 방언이 있습니다. 한국어에는 40개의 음소(자음 19개, 모음 21개)가 있습니다. 형태학적으로 응집이 발달합니다. 동사 시제는 현재, 2 과거 및 2 미래 시제 형태로 구성됩니다. 숫자 범주에서 단수형과 복수형 사이에는 차이가 없습니다. 비율 범주는 모든 동사에 국한되지 않습니다. 그의 어휘에는 중국어, 산스크리트어, 몽골어 및 때로는 유럽 언어의 단어가 포함됩니다. 한국어는 1993년까지 '표준어', 1966년 '문화어'(문화어)로 불렸다. 두 언어 모두 북한과 대한민국에서 사용됩니다. 북한에서는 한글을 사용하고, 대한민국에서는 한문 혼합 문자를 사용합니다."
</script>
