<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card">
    <div class="d-flex justify-content-between align-items-center mt-3">
      <h5 class="card-header">{{title}}</h5>
      <button type="button" id="modalBtn" style="height: 40px;" class="mx-3 btn btn-primary">
        Qo'shish
      </button>
    </div>
    <div class="container">
    <div class="card-body">
      <div class="table-responsive text-nowrap">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nomi</th>
              <th>Narhi</th>
              <th>Soni</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each classes}}
            <tr>
              <td>
                <strong>{{title}}</strong>
              </td>
              <td>
                {{money}}
              </td>
              <td>
                {{total}}
              </td>
              <td>
                {{!-- <button class="btn" style="padding:0" onclick="openShowModal('{{_id}}')">
                <i class="bx bx-show me-1"></i></button> --}}
                <a class="btn" style="padding:0" href="/admin/class/delete/{{_id}}" >
                <i class="bx bx-trash me-1"></i></a>
              </td> 
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>

<div class="modal modal2">
  <div class="modal-dialog">
    <form action="/admin/class" method="post" enctype="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Class qo'shish</h5>
          <button type="button" class="close close2">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <input type="hidden" name="_csrf" value="{{csrf}}" />
                <label for="formFile" class="form-label">Nomini kiriting</label>
                <input class="form-control" name="title" type="text" >
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label for="formFile" class="form-label">Yosh oralig'i kiriting</label>
                <input class="form-control" name="age" type="text" >
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label for="formFile" class="form-label">Soni</label>
                <input class="form-control" name="total" type="text" >
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label for="formFile" class="form-label">Soat</label>
                <input class="form-control" name="time" type="text" >
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label for="formFile" class="form-label">Narhi</label>
                <input class="form-control" name="money" type="text" >
              </div>
            </div>
            <div class="col-12">
              <div class="form-group mb-3">
                  <label for="formFile" class="form-label">Rasm kiriting</label>
                <input class="form-control" name="img" type="file">
              </div>  
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="formFile" class="form-label">Matn yozing</label>
                <textarea name="text" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="closeModal2()">Bekor qilish</button>
          <button type="submit" class="btn btn-primary">Saqlash</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  let modal = document.querySelector('.modal2');
  let modalBtn = document.querySelector('#modalBtn');
  let closeBtn = document.querySelector('.close2');
  modalBtn.addEventListener('click', () => {
    modal.classList.add('show');
  });
  closeBtn.addEventListener('click', () => {
    closeModal2();
  });
  function closeModal2() {
    modal.classList.remove('show');
  }
</script>